.beneficions-conta {
    background-image: url('../img/bg-section-beneficios-tablet.png');
    background-color: #ff7a00;
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
}
/*
.beneficions-conta-cont {
    max-width: 1600px;
    text-align: end;
    display: block;
    float: right;
    padding-top: 90px;
    padding-left: 220px;
    padding-right: 30px;
    word-break: break-all;
}
*/

.beneficions-conta-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    justify-items: end;
    padding-top: 62px;
}
.beneficions-conta-cont h3 {
    text-align: end;
    color: white;
    letter-spacing: 2px;
    font-size: 32px;
    line-height: 42px;
}
@media (min-width: 1800px) {
    .beneficions-conta {
        height: 40vh;
    }
}
@media (max-width: 1799px) {
    .beneficions-conta {
        height: 35vh;
    }
    .beneficions-conta-cont {
        padding-top: 50px;
        padding-right: 20px;
    }
    .beneficions-conta h3 {
        letter-spacing: 1px;
        font-size: 32px;
        line-height: 40px;
    }
}
@media (max-width: 1350px) {
    .beneficions-conta-cont {
        padding-top: 70px;
    }
    .beneficions-conta h3 {
        font-size: 26px;
        padding: 0px;
    }
}
@media (max-width: 1000px) {
    .beneficions-conta {
        background-image: url('../img/bg-section-beneficios-pq.png');
        background-color: #ff7a00;
        height: 25vh;
    }
    .beneficions-conta h3  {
        font-size: 22px;
        letter-spacing: normal;
    }
}
@media (max-width: 768px){
    .beneficions-conta {
        background: none;
        background-image: url('../img/bg-section-beneficios-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .beneficions-conta-cont h3 {
        font-size: 18px;
        line-height: 25px;
        word-break: break-all;
        padding-right: 32px;
    }
}
@media (max-width: 400px) {
    .beneficions-conta-cont h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}